
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Roboto:wght@300&display=swap');


/* Resize BSU logo */
.navbar-logo {
    width: 50px;
}


/* top navigation bar color */
.navbar-inverse {
    background-color: #2c3d50;
    border-color: #fff; 
}


/* Input area background color */
.section.sidebar { 
    background-color: #dddddd;
}






